<!doctype html>
<html>

<head>
	<title>{{title}}</title>
</head>

<body>
	<header>
		<ul>
			<a href="index">Home</a>
			<a href="players">Players</a>
			<a href="rosters">Rosters</a>
			<a href="teams">Teams</a>
			<a href="results">Results</a>
			<a href="matchdays">Matchdays</a>
		</ul>
	</header>
	{{{body}}}
</body>

</html>