<!doctype html>
<html>

<head>
	<title>{{title}}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	{{#each scripts}}
	<script defer src="scripts/{{this}}"></script>
	{{/each}}
</head>

<body>
	<header>
		<ul>
			<a href="index">Home</a>
			<a href="players">Players</a>
			<a href="rosters">Rosters</a>
			<a href="teams">Teams</a>
			<a href="results">Results</a>
			<a href="matchdays">Matchdays</a>
		</ul>
	</header>
	{{{body}}}
</body>

</html>