 <table>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Dues Paid?</th>
        <th>Roster ID</th>
      </tr>
      
      {{#each results}}
      <tr>
      <td>{{this.firstName}}</td>
      <td>{{this.lastName}}</td>
      <td>{{this.duesPaid}}</td>
      <td>{{this.roster}}</td>
      </tr>
        {{/each}}
  </table>