<!DOCTYPE html>
<html>

<head>
  <title>Home Page</title>
</head>

<body>
  <h1>Results</h1>
  <div>
    <h2>Overview</h2>
    <p>
      This is where result information will be populated. This page will
      include a client side interaction to enter team 1 and team 2 results, as
      well as the over all winner (autopopulated based on score). This
      information will be used on the league table to calculate the current
      points each team has.
    </p>
  </div>

  <h3>Add Result</h3>
  <form action="/result" method="POST">
    <label for="matchday">Matchday </label>
    <select name="matchday">
      {{#each matchdays}}
      <option value="{{this.matchdayId}}">{{this.gameDate}} {{this.team1Name}} vs. {{this.team2Name}}</option>
      {{/each}}
    </select>
    <label for="team1Score">Team 1 Score: </label>
    <input type="number" name="team1Score" />
    <label for="team2Score">Team 2 Score: </label>
    <input type="number" name="team2Score" />
    <input type="submit" value="Add Result" />
  </form>

  <h3>Current Results</h3>
  <div>
    <table>
      <tr>
        <th>Team Name</th>
        <th>Goals Scored</th>
        <th>Current Points</th>
      </tr>
      <td>Liverpool</td>
      <td>49</td>
      <td>32</td>
      <tr>
        <td>Manchester United</td>
        <td>16</td>
        <td>42</td>
      </tr>
      <td>Leicester City</td>
      <td>12</td>
      <td>36</td>
    </table>
  </div>
</body>

</html>