  <h2>Add Roster</h2>
  <form action="/rosters" method="POST">
Roster Name: <input type = "text" name = "rosterName">
Captain: <input type = "text" name = "captain">
<input type="submit" value="Add Roster">
</form>
  <h2>Current Rosters</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Roster Name</th>
        <th>Captain-First Name</th>
        <th>Captain-Last Name</th>
      </tr>
    </thead>
    <tbody>
      {{#each results}}
      <tr>
       <td>{{this.rosterId}}</td>
       <td>{{this.rosterName}}</td>
       <td>{{this.firstName}}</td>
       <td>{{this.lastName}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
