<h1>Teams Page</h1>

<div>
  <h2>Overview</h2>
  <p>
    This is where all team information will exist. On this page there will
    be the ability to add teams line by line, as well as adding the
    associated roster and viewing the current list of teams associated with
    this league. Team names can be removed using the teams table.
  </p>
</div>
<div>
  <h3>Teams</h3>
  <form action="/teams" method="POST">
    <label for="fname">Team Name: </label>
    <input type="text" name="team" maxlength="255" />
    <label for="lname">Roster: </label>
    <select name="roster">
      <option value="">Select a Roster</option>
      {{#each rosters}}
      <option value="{{this.rosterId}}">{{this.name}}</option>
      {{/each}}
    </select>
    <input type="submit" value="Add Team" />
  </form>
</div>
<h3>Current Teams</h3>
<table>
  <tr>
    <th>Team Name</th>
    <th>Roster Name</th>
  </tr>
  {{#each teams}}
  <tr>
    <td name="team">{{this.teamName}}</td>
    <td name="roster">{{this.rosterName}}</td>
  </tr>
  {{/each}}
</table>