<h1>Teams</h1>

<div>
  <p>
    This is where the user can add teams and associate them with a roster. Since a team
    must be associated with a roster, and a roster can only be associated with one team,
    their must be an existing roster that is not associated with a team in order to add
    a new team. Once there are two or more teams, the user can add a new matchday on the
    Matchdays page.
  </p>
</div>
<div>
  <h3>Teams</h3>
  <form action="/teams" method="POST" onsubmit="return validateNewTeam(this)">
    <label for="team">Team Name: </label>
    <input type="text" name="team" maxlength="255" />
    <label for="roster">Roster: </label>
    <select name="roster">
      <option value="">Select a Roster</option>
      {{#each rosters}}
      <option value="{{this.rosterId}}">{{this.name}}</option>
      {{/each}}
    </select>
    <input type="submit" value="Add Team" />
    <span name="message"></span>
  </form>
</div>
<h3>Current Teams</h3>
<table>
  <tr>
    <th>Team Name</th>
    <th>Roster Name</th>
  </tr>
  {{#each teams}}
  <tr>
    <td name="team">{{this.teamName}}</td>
    <td name="roster">{{this.rosterName}}</td>
  </tr>
  {{/each}}
</table>